%form#create-protest.row
	.row.title
		%label.column.large-12.title Title
			%input{ placeholder: "#{typeof id == 'undefined' ? 'Ex: Legalize Marijuana' : ''}", name: 'title', type: 'text', value: "#{title}" }
	.row.image-and-location
		.column.large-6.image
			Something goes here!
		.column.large-6.location
			.row
				%label.column.large-12.street Street
					%input{type: 'text', name: 'street', value: "#{street}" }
				%label.column.large-12.city City
					%input{type: 'text', name: 'city', value: "#{city}" }
				%label.column.large-12.state State
					%input{type: 'text', name: 'state', value: "#{state}" }
				%label.column.large-12.zip Zip
					%input{type: 'text', name: 'zip', value: "#{zip}" }
	.row.tags
		%label.column.large-6.threshold Threshold
			%input{value: "#{threshold}", name: 'threshold', type: 'number' }
		%label.column.large-6.tags Tags
			%input{type: 'text', name: 'tags', value: "#{tags}" }
	.row.background
		%label.column.large-12.background Background
			%textarea{ name: 'background' }
				= background
	.row.needs
		%label.column.large-12.goal Goal
			%textarea{name: 'goal'}
				= goal
	.row.furtherReading
		%label.column.large-12.furtherReading Further Reading
			%input{type: 'text', name: 'furtherReading', value: "#{furtherReading}" }
	.row.create
		%button.button.create-btn
			Create